.search{
    background: white;
    box-shadow: 5px 5px 5px rgba(199, 238, 240, 0.75);
    padding: 20px;
    min-height: 200px;
    border-radius: 20px;
    button{
        margin-top: 45px;
        width: 75%;
    }
    .place-not-found{
        margin-top: 3px;
        font-size: 15px;
        font-weight: 500;
        color: red;
    }
}