.variants{
    background: white;
    box-shadow: 5px 5px 5px rgba(199, 238, 240, 0.75);
    padding: 20px;
    height: 200px;
    &__title{
        margin-top: 10px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #3a51b8;
        text-shadow: 1px 1px 2px white, 0 0 1em rgb(79, 200, 236);
    }
    &__buttons{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        button{
            width: 17%;
        }
    }
    &__coords{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .coord{
            color: blue;
            width: 17%;
        }
    }
}